---
layout: app.njk
---

<!-- HTML Meta Tags -->
<title>{{ title }} - {{ site.org.name }}</title>
<meta name="description" content="{{ description }}">
<meta name="image" content="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/3otvb2z646ytpt1hl2rv.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/3otvb2z646ytpt1hl2rv.jpg">
