---
layout: app.njk
---

<article>
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="document-actions">
            <a href="{{ config.baseURL }}/{{ file }}" class="btn btn-primary" target="_blank">Завантажити</a>
        </div>
        <div class="document-content">
            {{ content | safe }}
        </div>
    </div>
</article>
